/* <!--  -->
      <!-- estilos del navbar --> */
.edicionModal-1 {
  width: 300px;
}
.itemMenuLateral:hover {
  background-color: rgba(7, 39, 97, 0.952) !important;
  color: #fff;
  transition: 0.3s;
}

/* centrado del boton abono de las facturas */

.botonCentro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tamano {
  width: 50%;
}

/* edicion del boton de facturacion */
.edicionButton {
  margin-bottom: 15px;
}

/* iconos */
.iconos {
  color: #fff;
  font-size: 18px;
}

/* Botones de opciones editar, eliminar, imprimir, etc */

.botonesOpciones {
  margin-top: 3px;
}
